/* Old Color Palette
#151515 - black
#301B3F - purple
#3C415C - lavender
#B4A5A5 - grey */

/* New Color Palette
#121214 - black
#35192d - plum
#783466 - purple
#A64D79 - pink
*/


a:link {
	color: #00008B; /* dark blue */
}

li {
	font-size: 1.8em
}

br {
	margin-top: 100px;
}

.dark-section {
  background-color: #35192d;
  color: #A64D79;
  font-weight: 500;
}

a.dark-section-link {
	color: #B9D2EE; /* high contrast color against the dark section background */
}

.light-section {
  background-color: #783466;
  color: #121214;
  font-weight: 600;
}

.nav-bar {
  background-color: #A64D79;
  color: #121214;
  margin-left: 1px;
}

.my-footer {
  background-color: #A64D79;
  color: #121214;
  font-size: 1.5em;
  text-align: center;
}

.nav-img {
	border-radius: 60%;
	width: 50px;
	height: 50px;
}

.body-style {
	font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.bg {
	background-image: url("images/background.png");
	background-attachment: fixed;
	height: 100%;
}

.carousel-inner img {
  margin: auto;
}



